---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Mail">
  <div class="container h-[70vh] flex items-center justify-center">
    <h1 class="text-center text-2xl">
      Mail me at: <a href="mailto:gambhir786191ss@gmail.com" class="text-[var(--text-primary-green-color)]">
        gambhir786191ss@gmail.com</a
      >
    </h1>
  </div>
</BaseLayout>
